/* .btn {
  width: 150px;
  padding: 15px;
  border-radius: 100px;
}
.btn:hover,
.btn:focus {
  background-color: green;
}
.btn:focus {
  background-color: red;
} */
:root {
  --main-font: ;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}
.nav {
}
.nav-list {
  display: flex;
  /* margin-top: 32px; */
}
.nav-link {
  margin-left: 50px;
}
.mail {
}
.phone {
}
